<p><%= link_to "#{@stage.festival.name} Page", festival_path(@stage.festival) %></p>
<h1><%= @stage.name %></h1>
<p><%= @stage.description %></p><br>

<p><%= link_to "Edit Stage", edit_festival_stage_path %></p>
