<h1>Register User: </h1>
<%= form_tag ({controller: 'application', action: 'user_create_account', method: 'post'}) do %>
 <label>Name: </label>
 <input name=name><br>

 <label>Password: </label>
 <input name=password><br>

 <input type=submit value='Register User'>
<% end %>

<h1>Register Organizer: </h1>

<%= form_tag ({controller: 'application', action: 'organizer_create_account', method: 'post'}) do %>
 <label>Name: </label>
 <input name=name><br>

 <label>Password: </label>
 <input name=password><br>

 <input type=submit value='Register Organizer'>
<% end %>
