<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Festival Planner - Home</title>
  </head>
  <body>
    <%= link_to "Login", :controller => :application, :action => :login %>
    <br>
    <%= link_to "Create Account", :controller => :application, :action => :create_account %>
    <br>
  </body>
</html>
