<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Festival Planner - Home</title>
  </head>
  <body>
    WELCOME TO OUR INDEX PAGE YA CAT DADDY
  </body>
</html>
