<nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="/">Festival Planner</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div id="navbarNavDropdown" class="navbar-collapse collapse">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                   <a class="nav-link" href="/festivals">Festivals</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/bands">Bands</a>
               </li>

           </ul>
           <ul class="navbar-nav">
             <% if user_logged_in? %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/<%= current_user.id %>"><%= User.find(session[:user_id]).name.capitalize %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
             <% elsif organizer_logged_in? %>
                 <li class="nav-item">
                     <a class="nav-link" href="/organizers/<%= current_organizer.id %>"><%= Organizer.find(session[:organizer_id]).name.capitalize %></a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/logout">Logout</a>
                 </li>
             <% else %>
                 <li class="nav-item">
                     <a class="nav-link" href="/login">Login/Register</a>
                 </li>
            <% end %>
           </ul>
       </div>
   </nav>
